:root {
    --light-text: #f4f4fd;
}

body{
    font-family: "Roboto" , sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5
}
/* header */

.header-logo {
    margin-right: 76px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}




.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}



.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero {
    padding: 188px 0;
    text-align: center;

    max-width: 1440px;
    margin: 0 auto;

  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),
  url("../images/hero-bg.jpg");
  text-align: center;
  padding: 188px 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-btn {
    margin: 0;
    padding: 16px 32px;
    min-width: 169px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* section 2 */ 

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0 );
    overflow: hidden;
}


.features-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;

    margin-bottom: 8px;
}

.features-icon {
    fill:#2e2f42;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --- Section Team --- */
.section-team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}



.team-card {
    padding: 32px 0;
}

.team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-radius: 0 0 4px 4px;

    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.team-list-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    margin: 0;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon {
    fill:#f4f4fd;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}

/* --- Section Portfolio --- */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-content {
    background-color: #ffffff;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item img {
    display: block;
    width: 100%;
}

.portfolio-item-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}



.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus-within .portfolio-overlay {
    transform: translateY(0%);
}

/* --- Footer  -- */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-part-text {
    color:#f4f4fd
}

.footer-text {
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin: 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
    gap: 0;
}

.footer-left {
    margin-right: 120px;
}

.footer-social {
    margin-right: 80px;
}

.footer-subscribe {
    margin-left: 0;
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#ffffff;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31d0aa;
}

.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#ffffff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:#ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);

    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.14),
        0px 1px 3px 0 rgba(0, 0, 0, 0.12),
        0px 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
    position: absolute;
    top:24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.modal-field-wrap {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    font-weight: 400;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-icon {
    position: absolute;
    left:16px;
    top:50%;
    transform: translateY(-50%);
    fill:#2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-field-wrap-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-field-checkbox {
    margin-bottom: 24px;
}

.modal-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.modal-checkbox-label {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color:#8e8f99;
   margin-bottom: 0;
}

.modal-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.modal-checkbox-label .modal-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: var(--light-text);
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-submit-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
